/* ****************************************************************************************************

  # kv
  - layout

**************************************************************************************************** */
@use '../foundation/tool/global';

.l-kv {
  position: relative;
  display: block;
  width: 100%;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-kv {
  }
}

/* ======================================================================

  ## container

====================================================================== */
.l-kv__container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 25rem;
  padding: 0 global.$content-side-gutter;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-kv__container {
    height: 40rem;
    padding: 0 global.$content-side-gutter-mq-min-md;
  }
}

.l-kv__container::before {
  content: "";
  z-index: 1;
  position: absolute;
  width: 60%;
  aspect-ratio: 29/12;
  bottom: 0;
  right: 0;
  background: global.$color-gradation;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0% 100%);
  opacity: 0;
  transition: opacity .8s .8s ease-out;
}
.is-loaded {
  .l-kv__container::before {
    opacity: .6;
  }
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-kv__container::before {
    width: 38%;
  }
}

.l-kv__container::after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 60%;
  aspect-ratio: 29/12;
  top: 100%;
  left: 0;
  background: global.$color-gradation;
  clip-path: polygon(0 0%,100% 0,0 100%,0% 100%);
  opacity: 0;
  transition: opacity .8s .8s ease-out;
}
.is-loaded {
  .l-kv__container::after {
    opacity: .1;
  }
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .l-kv__container::after {
    width: 73%;
  }
}

/* ======================================================================

  ## image

====================================================================== */
.l-kv__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/* ### img
---------------------------------------------------------------------- */
.l-kv__image > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'object-fit: cover;';
  object-fit: cover;
}

.l-kv__image.l-kv__image--recruitment > img {
  object-position: bottom 20% left 0;
}
