/* ****************************************************************************************************

  # copy
  - project

**************************************************************************************************** */
@use '../../foundation/tool/global';

.p-copy {
  margin-top: 2rem;
  padding-top: 1rem;
  font-size: global.$font-size-sm;
  text-align: center;
  border-top: 1px dotted global.$color-border;
}
@media print, screen and (min-width: global.$breakpoint-min-md) {
  .p-copy {
    margin-top: 4rem;
    font-size: global.$font-size-mq-min-md;
  }
}
