/* ****************************************************************************************************

  # form-error
  - project

**************************************************************************************************** */
@use '../../foundation/tool/global';

.p-form-error {
	margin: 2rem;
	color: global.$color-red;
}

.p-form-error__title {
	font-weight: bold;
}