/* ****************************************************************************************************

  # border
  - theme

**************************************************************************************************** */
@use '../../foundation/tool/global';

/* ======================================================================

  solid

====================================================================== */
.t-border {
  border: 1px solid global.$color-border;
}

.t-border-b {
  border-bottom: 1px solid global.$color-border;
}

/* ======================================================================

  dashed

====================================================================== */
.t-border-dashed {
  border: 1px dashed global.$color-border;
}

.t-border-top-blue {
  border-top: 2px solid global.$color-blue;
}

.t-border-top-green {
  border-bottom: 2px solid global.$color-green;
}